{% extends 'base.html' %}

{% load humanize %}
{% load mathfilters %}

{% block content %}

<div class="container-fluid">
  <div class="mb-4">
  <a href="{% url 'tracker:add_target' %}" class="btn btn-primary">Add Budget</a>
  </div>
</div>
<hr>

<div class="container-fluid">

    {% if targets %}
    {% for target in targets %}

    <h3 align= 'middle'><b>{{target.year}}</b></h3>
    <div class="row">

  <div class="col-sm-6" align='left'>
    <style>
       #total {
          text-align:right;
       }
    </style>
    <table class="table table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Service line</th>
          <th scope="col">Budget Existing</th>
          <th scope="col">Current</th>
          <th scope="col">Budget New</th>
          <th scope="col">New</th>
          <th scope="col">Total</th>
          <th scope="col">Invoiced</th>
          <th scope="col">Variance 1</th>
          <th scope="col">Variance 2</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" align="right">Audit</th>
          <td align="right">{{ target.audit|intcomma }}</td>
          <td align="right">{{sum_audit|intcomma}}</td>
          <td align="right">{{target.audit_new|intcomma}}</td>
          <td align="right">{{sum_audit_new|intcomma}}</td>
          <td align="right">{{total_audit|intcomma}}</td>
          <td align="right">{{invoices_audit|intcomma}}</td>
          <td align="right">{{total_audit|sub:target.audit |intcomma}}</td>
          <td align="right">{{invoices_audit|sub:total_audit|intcomma}}</td>
        </tr>
        <tr>
          <th scope="row">AoS</th>
          <td align="right">{{ target.aos|intcomma }}</td>
          <td align="right">{{sum_aos|intcomma}}</td>
          <td align="right">{{target.aos_new|intcomma}}</td>
          <td align="right">{{sum_aos_new|intcomma}}</td>
          <td align="right">{{total_aos|intcomma}}</td>
          <td align="right">{{invoices_aos|intcomma}}</td>
          <td align="right">{{total_aos|sub:target.aos|intcomma}}</td>
          <td align="right">{{invoices_aos|sub:total_aos|intcomma}}</td>
        </tr>
        <tr>
          <th scope="row">TaxCom</th>
          <td align="right">{{ target.taxcom|intcomma }}</td>
          <td align="right">{{sum_tax|intcomma}}</td>
          <td align="right">{{target.taxcom_new|intcomma}}</td>
          <td align="right">{{sum_tax_new|intcomma}}</td>
          <td align="right">{{total_tax|intcomma}}</td>
          <td align="right">{{invoices_taxcom|intcomma}}</td>
          <td align="right">{{total_tax|sub:target.taxcom|intcomma}}</td>
          <td align="right">{{invoices_taxcom|sub:total_tax|intcomma}}</td>
        </tr>
        <tr>
          <th scope="row">TaxAdv</th>
          <td align="right">{{ target.taxadv|intcomma }}</td>
          <td align="right">{{sum_taxadv|intcomma}}</td>
          <td align="right">{{target.taxadv_new|intcomma}}</td>
          <td align="right">{{sum_taxadv_new|intcomma}}</td>
          <td align="right">{{total_taxadv|intcomma}}</td>
          <td align="right">{{invoices_taxadv|intcomma}}</td>
          <td align="right">{{total_taxadv|sub:target.taxadv|intcomma}}</td>
          <td align="right">{{invoices_taxadv|sub:total_taxadv|intcomma}}</td>
        </tr>
        <tr>
          <th scope="row">ComSec</th>
          <td align="right">{{ target.comsec|intcomma }}</td>
          <td align="right">{{sum_comsec|intcomma}}</td>
          <td align="right">{{target.comsec_new|intcomma}}</td>
          <td align="right">{{sum_comsec_new|intcomma}}</td>
          <td align="right">{{total_comsec|intcomma}}</td>
          <td align="right">{{invoices_comsec|intcomma}}</td>
          <td align="right">{{total_comsec|sub:target.comsec |intcomma}}</td>
          <td align="right">{{invoices_comsec|sub:total_comsec|intcomma}}</td>
        </tr>
        <tr>
          <th scope="row">Consul</th>
          <td align="right">{{ target.consul|intcomma }}</td>
          <td align="right">{{sum_cons|intcomma}}</td>
          <td align="right">{{target.consul_new|intcomma}}</td>
          <td align="right">{{sum_cons_new|intcomma}}</td>
          <td align="right">{{total_cons|intcomma}}</td>
          <td align="right">{{invoices_consul|intcomma}}</td>
          <td align="right">{{total_cons|sub:target.consul  |intcomma}}</td>
          <td align="right">{{invoices_consul|sub:total_cons|intcomma}}</td>
        </tr>
        <tr>
          <th scope="row">Total</th>
          <td align="right"><b>{{target.audit|add:target.aos|add:target.taxcom|add:target.taxadv|add:target.comsec|add:target.consul|intcomma}}</b></td>
          <td align="right"><b>{{summation_all_assign|intcomma}}</b></td>
          <td align="right"><b></b> </td>
          <td align="right"> <b>{{summation_all_assign_new|intcomma}}</b> </td>
          <td align="right"> <b>{{total|intcomma}}</b> </td>
          <td align="right"><b>{{invoice_total|intcomma}}</b></td>
          <td align="right"><b></b></td>
          <td align="right"><b>-{{total|sub:invoice_total|intcomma}}</b></td>
        </tr>
      </tbody>
    </table>

{% endfor %}
{% else %}

<div class="alert alert-success" role="alert" align=center>
  <h3>No Targets Set Yet</h3>
</div>

{% endif %}
</div>

<div class="col-sm-6" id="container" style="width:50%; height:400px;" >
  <div id="container"></div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
  Highcharts.chart('container', {{ chart|safe }});
</script>
</div>
</div>
</div>

{% endblock %}
