{% extends 'base.html' %}

{% load humanize %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-default">
        <h2 align=center>{{ client.name|upper }}</h2>
        <a href="{% url 'tracker:client_edit' client.pk %}">
          {% if client.company_logo %}
              <img src="{{ client.logo.url }}" style ="padding-bottom: 25px;">
          {%  else %}
            <p>NO LOGO</p>
          {% endif %}
          </a>

      <ul>
        <table>
          <tr>
              <td width="100"><h5><b>TIN:</b>   {{ client.tin }}</h6></td>
              <td><h5><b>EMAIL:</b> {{ client.Email_address }} </h5></td>
          </tr>
          <tr>
              <td><h6><b>SERVICES:</b> {{ client.services }}</h6></td>
              <td><h6><b>YEAR END:</b> {{ client.year_end }}</h6></td>
          </tr>
      </table>

      </ul>
    </div>
  </div>
    <div class="col-sm-9">
      <ul class="nav nav-pills" style="margin-bottom: 5px;">
          <li role="presentation" class="active"><a href= "{% url "tracker:create_engagement" client.pk %}">Add Engagement</a></li>
      </ul>
      <h3>Engagements of {{ client.name }}</h3>

      {% if error_message %}
          <p><strong>{{ error_message }}</strong></p>
      {% endif %}
<div class="panel panel-default">
    <div class="panel-body">
      <table class="table">
          <thead>
          <tr>
            <font size="2">
              <th>Assignment</th>
              <th>Reference</th>
              <th>Date</th>
              <th>Amount</th>
              <th>Invoice</th>
              <th>Amount Paid</th>
              <th>Balance</th>
              <th></th>
            </font>
          </tr>
          </thead>
          <tbody>
          {% for engagement in engagements %}
              <tr>
                  <td>  <a href="{% url "tracker:edit_engagement" client.pk engagement.client.pk  %}">{{ engagement.assignment }}</a></td>
                  <td>{{ engagement.reference }}</td>
                  <td>{{ engagement.date }}</td>
                  <td>{{ engagement.active|intcomma }}</td>
                  <td></td>
                  <td></td>
                  <td>{{ engagement.balance }}</td>
                  <td>
                    {% if engagement.letter %}
                      <a target="_blank" href="{{ engagement.letter.url }}">
                        <span class="glyphicon glyphicon-paperclip" title='Attached Letter'></span>&nbsp;
                      </a>
                    {% endif %}
                    <span>
                    <a href="{% url 'tracker:engagement_invoices' client.pk engagement.pk %}">
                      <span class="glyphicon glyphicon-list-alt" title='Invoice'></span>&nbsp;
                  </span>

                    <a href="{% url 'tracker:create_payment' client.pk engagement.pk %}">
                      <span class="glyphicon glyphicon-credit-card" title='Notes'></span>&nbsp;
                    </a>

                    <a href="{% url 'tracker:create_payment' client.pk engagement.pk %}">
                      <span class="glyphicon glyphicon-pencil" title='Edit'></span>&nbsp;
                    </a>

                    <a href="{% url 'tracker:create_payment' client.pk engagement.pk %}">
                      <span class="glyphicon glyphicon-trash" title='Delete'></span>&nbsp;
                    </a>

                  </td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
