{% extends 'base.html' %}

{% block content %}

<form method="get">
  {{ filter.form.as_p }}
  <button type="submit" class ='btn-btn btn-success'>Search</button>
</form>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Service</th>
      <th scope="col">Client</th>
      <th scope="col">Reference</th>
      <th scope="col">Engagement Ending</th>
      <th scope="col">Rate</th>
      <th scope="col">Factor</th>
      <th scope="col">Active</th>
      <th scope="col">Currency</th>
    </tr>
  </thead>
  <tbody>
  {% for engagement in filter.qs %}
    <tr>
      <td>{{engagement.assignment}}</td>
      <td>{{engagement.client}}</td>
      <td>{{engagement.reference}}</td>
      <td>{{engagement.engagement_ending}}</td>
      <td>{{engagement.rate}}</td>
      <td>{{engagement.factor}}</td>
      <td>{{engagement.active}}</td>
      <td>{{engagement.currency}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
